<footer>
  <div class="footer-section">
    <div class="footer-first">
      <h1 class="logo">{{ section.settings.footer_logo }}</h1>
      <p>
        {{ section.settings.footer_description }}
      </p>
      <div class="social">
        {% for social in section.blocks %}
          {% include "footer-social-icon" %}
        {% endfor %}
      </div>
    </div>

    {% for link in linklists[section.settings.footer_links].links %}
      {% if link.links != blank %}
        <div class="your-account">
          <h3>{{ link.title }}</h3>
          <ul>
            {% for submenu in link.links %}
              {% include 'footer-actions' %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}

    <div class="footer-contact">
      <div class="infos">
        <div class="infos-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="infos-details">
          <h4>Location</h4>
          <p>{{ section.settings.footer_address }}</p>
        </div>
      </div>
      <div class="infos">
        <div class="infos-icon">
          <i class="fas fa-phone-alt"></i>
        </div>
        <div class="infos-details">
          <h4>Contact Us</h4>
          <p>{{ section.settings.footer_contact }}</p>
        </div>
      </div>
      <div class="infos">
        <div class="infos-icon">
          <i class="fas fa-envelope-open-text"></i>
        </div>
        <div class="infos-details">
          <h4>Email</h4>
          <p>{{ section.settings.footer_email }}</p>
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.footer_image_check == true %}
    <img
      class="drinking"
      src="{{ section.settings.footer_image.src | img_url: 'master' }}"
      alt="" />
  {% endif %}
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Logo Section"
      },
      {
        "type": "text",
        "id": "footer_logo",
        "label": "Footer Logo",
        "default": "Fabulous",
        "info": "Note: Add Only Text Here"
      },
      {
        "type": "textarea",
        "id": "footer_description",
        "label": "Footer Description",
        "default": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum pariatur molestiae perferendis quis modi exercitationem!",
        "info": "Write your description"
      },
      {
        "type": "header",
        "content": "Footer Menus"
      }, {
        "type": "link_list",
        "id": "footer_links",
        "label": "Footer Links",
        "default": "footer"
      }, {
        "type": "header",
        "content": "Location & Contacts"
      }, {
        "type": "text",
        "label": "Address",
        "id": "footer_address"
      }, {
        "type": "text",
        "label": "Contact Information",
        "id": "footer_contact"
      }, {
        "type": "text",
        "label": "Email Address",
        "id": "footer_email"
      }, {
        "type": "header",
        "content": "Footer Side Image"
      }, {
        "type": "checkbox",
        "label": "Display Image",
        "id": "footer_image_check",
        "default": true
      }, {
        "type": "image_picker",
        "label": "Pick a Image",
        "id": "footer_image"
      }
    ],
    "blocks": [
      {
        "type": "contain",
        "name": "Social Media",
        "limit": 8,
        "settings": [
          {
            "type": "html",
            "id": "social_icon",
            "label": "Social Media Icon (FontAwesome Icon)"
          }
        ]
      }
    ]
  }
{% endschema %}